<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="STTerm + screen">
			<action name="Execute">
				<execute>stterm -f 'liberation mono-11.5' screen -h 8192</execute>
			</action>
		</item>
		<item label="XTerm">
			<action name="Execute">
				<execute>xterm</execute>
			</action>
		</item>
		<item label="Web browser">
			<action name="Execute">
				<execute>x-www-browser</execute>
			</action>
		</item>
		<item label="Virtualbox">
			<action name="Execute">
				<execute>virtualbox</execute>
			</action>
		</item>
		<separator/>
		<!-- This requires the presence of the 'openbox-menu' package to work -->
		<menu id="/Debian"/>
		<menu execute="/usr/bin/obmenu" id="applications-menu" label="Applications"/>
		<separator/>
		<item label="ObMenu">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<item label="ObConf">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<item label="TintConf">
			<action name="Execute">
				<execute>tint2conf</execute>
			</action>
		</item>
		<separator/>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
