[Desktop Entry]
Type=Application
Name=Multilingual Terminal
GenericName=
Comment=Use Multi-Lingual Command Line
Icon=mlterm-icon-24colors-1
Exec=mlterm
Terminal=false
Categories=System;Utility;TerminalEmulator;
X-XFCE-Source=file:///usr/share/applications/mlterm.desktop
