scrollbar, srollbar button, scrollbar slider {
  -GtkScrollbar-has-backward-stepper: true;
  -GtkScrollbar-has-forward-stepper: true;
  /* Size of slider */
  min-width: 15px;
  min-height: 15px;
  border-radius: 17px;
  /* Padding around slider */
  border: 2px solid transparent;
}
