[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=mlterm "%s"
Icon=mlterm
Name=mlterm
X-XFCE-Commands=mlterm

