[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tevaugha/Desktop/chandra-2017-nov]
row=6
col=0

[/home/tevaugha/Desktop/test.png]
row=12
col=1

[/home/tevaugha/Desktop/free-software]
row=10
col=0

[/home/tevaugha/Desktop/mnt]
row=16
col=0

[/home/tevaugha/Desktop/walter-contact.png]
row=13
col=1

[/home/tevaugha/Desktop/bin]
row=4
col=0

[/home/tevaugha/Desktop/physics]
row=0
col=1

[/home/tevaugha/Desktop/svn-tevaugha]
row=5
col=1

[/home/tevaugha/Desktop/psim]
row=2
col=1

[/home/tevaugha/Desktop/mcs]
row=15
col=0

[/home/tevaugha/Desktop/hello]
row=14
col=0

[/home/tevaugha/Desktop/catholicscience]
row=5
col=0

[/home/tevaugha/Desktop/var]
row=7
col=1

[/home/tevaugha/Desktop/god-of-gaps]
row=12
col=0

[/home/tevaugha/Desktop/focus]
row=8
col=0

[/home/tevaugha/Desktop/arm]
row=3
col=0

[/home/tevaugha/Desktop/gnu-arm-directives.pdf]
row=8
col=1

[/home/tevaugha/Desktop/scripts]
row=3
col=1

[/home/tevaugha/Desktop/halos]
row=13
col=0

[/home/tevaugha/Desktop/pictures]
row=1
col=1

[/home/tevaugha/Desktop/computecpp-sdk]
row=7
col=0

[/home/tevaugha/Desktop/notes-on-bhpt-ch2.pdf]
row=9
col=1

[/home/tevaugha/Desktop/old]
row=17
col=0

[/home/tevaugha/Desktop/tmp]
row=6
col=1

[/home/tevaugha/Desktop/src]
row=4
col=1

[/home/tevaugha/Desktop/focus.git]
row=9
col=0

[/home/tevaugha/Desktop/scouts.txt]
row=11
col=1

[/home/tevaugha/Desktop/github]
row=11
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/tevaugha]
row=1
col=0

