[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tevaugha/Desktop/ast_irad]
row=6
col=0

[/home/tevaugha/Desktop/sourceforge]
row=8
col=0

[/home/tevaugha/Desktop/psim]
row=1
col=1

[/home/tevaugha/Desktop/ast_irad_old]
row=5
col=1

[/home/tevaugha/Desktop/oldOpenGL]
row=4
col=1

[/home/tevaugha/Desktop/scripts]
row=7
col=0

[/home/tevaugha/Desktop/src]
row=0
col=1

[/home/tevaugha/Desktop/notes-on-bhpt-ch2.pdf]
row=3
col=1

[/home/tevaugha/Desktop/notes-on-bhpt-ch2.odp]
row=2
col=1

[1a964638-6e49-46de-91c3-9d59d56e1eb2]
row=2
col=0

[fc6af5fa-2a67-4a90-be16-be294aebb5fe]
row=0
col=0

[1697da4d-c3a3-491c-9127-929fd1ddb4e3]
row=1
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/tevaugha]
row=5
col=0

