[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/net/nort/home/tevaughan/Desktop/bin]
row=8
col=2

[/net/nort/home/tevaughan/Desktop/dotfield]
row=0
col=4

[/net/nort/home/tevaughan/Desktop/eaglescoutspeech.pdf]
row=7
col=1

[/net/nort/home/tevaughan/Desktop/vaughan_env]
row=7
col=2

[/net/nort/home/tevaughan/Desktop/catholicscience]
row=1
col=4

[/net/nort/home/tevaughan/Desktop/basement]
row=9
col=1

[/net/nort/home/tevaughan/Desktop/att-rep-kalman.pdf]
row=7
col=3

[/net/nort/home/tevaughan/Desktop/Untitled.ipynb]
row=1
col=2

[/net/nort/home/tevaughan/Desktop/logo.jpg]
row=9
col=3

[/net/nort/home/tevaughan/Desktop/src]
row=2
col=1

[/net/nort/home/tevaughan/Desktop/megan-usb-stick.zip]
row=0
col=2

[/net/nort/home/tevaughan/Desktop/reading]
row=6
col=0

[/net/nort/home/tevaughan/Desktop/tevaugha_old_laptop.tar.bz2]
row=1
col=1

[/net/nort/home/tevaughan/Desktop/dotfield-0.1.tar.gz]
row=5
col=3

[/net/nort/home/tevaughan/Desktop/ott.JPG]
row=0
col=1

[/net/nort/home/tevaughan/Desktop/dimension]
row=2
col=2

[/net/nort/home/tevaughan/Desktop/confidence.pdf]
row=4
col=2

[/net/nort/home/tevaughan/Desktop/christmas_songs]
row=7
col=0

[/net/nort/home/tevaughan/Desktop/pdfparam]
row=3
col=2

[/net/nort/home/tevaughan/Desktop/appraisal-serenity.pdf]
row=3
col=3

[/net/nort/home/tevaughan/Desktop/2004 SATURN ION.pdf]
row=5
col=1

[/net/nort/home/tevaughan/Desktop/tmp]
row=9
col=2

[/net/nort/home/tevaughan/Desktop/tsc]
row=8
col=1

[/net/nort/home/tevaughan/Desktop/delta]
row=5
col=2

[/net/nort/home/tevaughan/Desktop/apple2]
row=8
col=0

[/net/nort/home/tevaughan/Desktop/bookmarks]
row=6
col=2

[/net/nort/home/tevaughan/Desktop/Examination-of-Conscience.pdf]
row=6
col=1

[/net/nort/home/tevaughan/Desktop/old-dot-svn]
row=9
col=0

[/net/nort/home/tevaughan/Desktop/platform.txt]
row=5
col=0

[/net/nort/home/tevaughan/Desktop/SSAC_src]
row=1
col=3

[/net/nort/home/tevaughan/Desktop/github]
row=3
col=1

[/net/nort/home/tevaughan/Desktop/kft_1.ra]
row=6
col=3

[/net/nort/home/tevaughan/Desktop/polyhedra]
row=4
col=3

[/net/nort/home/tevaughan/Desktop/histogram-binning.pdf]
row=4
col=1

[/net/nort/home/tevaughan/Desktop/links]
row=2
col=3

[/net/nort/home/tevaughan/Desktop/Old Firefox Data]
row=0
col=3

[/net/nort/home/tevaughan/Desktop/rational-trig-ch1.pdf]
row=8
col=3

[08BE8421BE840A00]
row=1
col=0

[713E-E711]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/net/nort/home/tevaughan]
row=4
col=0

