[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tevaugha/Desktop/src]
row=5
col=0

[59a7b51d-dd3e-4fe5-b1db-fdcae77f422e]
row=0
col=0

[9668da5a-3cca-4c68-b36c-f996bd86ae35]
row=1
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/tevaugha]
row=2
col=0

